<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/waf">Dịch vụ WAF</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Đăng xuất</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Đăng ký</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>